El_Suertudo_de_MiBanco/MundoAmarillo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CAS205" targetNamespace="http://tempuri.org/action/" xmlns:tns="http://tempuri.org/action/" xmlns:wsdlns="http://tempuri.org/action/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<schema targetNamespace="http://tempuri.org/action/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
			<element name="CAS205.Execute">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Modo" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Nrosolicitud" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Cuenta" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Operacion" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Modulo" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Toperacion" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Tdocumento" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Ndocumento" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Ncliente" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Sucurs" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Nombreagencia" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Ganador" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Cumplerequisitos" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Codret" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Msgerr" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="CAS205.ExecuteResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Modo" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Nrosolicitud" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Cuenta" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Operacion" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Modulo" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Toperacion" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Tdocumento" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Ndocumento" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Ncliente" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Sucurs" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Nombreagencia" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Ganador" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Cumplerequisitos" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Codret" type="xsd:string"/>
						<element minOccurs="1" maxOccurs="1" name="Msgerr" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="CAS205.ExecuteSoapIn">
		<part name="parameters" element="tns:CAS205.Execute"/>
	</message>
	<message name="CAS205.ExecuteSoapOut">
		<part name="parameters" element="tns:CAS205.ExecuteResponse"/>
	</message>
	<portType name="CAS205SoapPort">
		<operation name="Execute">
			<input message="wsdlns:CAS205.ExecuteSoapIn"/>
			<output message="wsdlns:CAS205.ExecuteSoapOut"/>
		</operation>
	</portType>
	<binding name="CAS205SoapBinding" type="wsdlns:CAS205SoapPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Execute">
			<soap:operation soapAction="http://tempuri.org/action/action/ACAS205.Execute"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="CAS205">
		<port name="CAS205SoapPort" binding="wsdlns:CAS205SoapBinding">
			<soap:address location="http://bmesrvd7:8070/webib/servlet/com.dlya.bantotal.acas205"/>
		</port>
	</service>
</definitions>
